@import '../../../styles.scss';

.pagination-container {
    display: flex;
}

img {
    width: 15px;
    height: 15px;
    padding-right: 7px;
    padding-top: 3px;
}

img:hover {
    text-decoration: underline;
    cursor: pointer;
}

u {
    color: $app-link-color;
    text-decoration: none;
}

u:hover {
    text-decoration: underline;
    cursor: pointer;
}

.page-selected {
    color: $primary-font-color;
}