<div class="pagination-container" *ngIf="paginationVisible">
    <img *ngIf="backVisible" src="assets/double-left-arrows-symbol.png" (click)="pageClick(1)">
    <div *ngFor="let page of pages()">
        <u
            class="page-number"
            (click)="pageClick(page)"
            [ngClass]="{ 'page-selected': page === getCurrentPage() }"
        >
        {{ page }}</u>,
    </div>
    <div>
        <ng-container *ngIf="elpsisVisible">...</ng-container>
        <u
            class="page-number"
            (click)="pageClick(totalPages)"
            [ngClass]="{ 'page-selected': totalPages === getCurrentPage() }"
        >
            {{ totalPages }}
        </u>
    </div>
</div>