<div class="pagination-container" *ngIf="totalMovies > 0">
    <img *ngIf="getCurrentPage() >= 4" src="assets/double-left-arrows-symbol.png" (click)="pageClick(1)">
    <div *ngFor="let page of pages()">
        <u
            class="page-number"
            (click)="pageClick(page)"
            [ngClass]="{ 'page-selected': page === getCurrentPage() }"
        >
        {{ page }}</u>,
    </div>
    <div>
        <ng-container *ngIf="elpsisVisible">...</ng-container>
        <u
            class="page-number"
            (click)="pageClick(totalMovies)"
            [ngClass]="{ 'page-selected': totalMovies === getCurrentPage() }"
        >
            {{ totalMovies }}
        </u>
    </div>
</div>