<div class="content-container">
    <div class="banner-container">
        <!-- show banner if no data is loaded -->
        <app-banner></app-banner>
    </div>
    <div class="grid-container">
        <div *ngFor="let info of movieInfo;" [ngStyle]="getCardStyle(info)">
            <!-- we use a card component to represent each movie in the list of movies. -->
            <app-movie-detail [movieInfo]="info" (detailsClickEvent)="detailsToggle(info)"></app-movie-detail>
        </div>
    </div>
    <div class="paginator">
        <!-- here we render the pagination -->
        <app-paginator></app-paginator>
    </div>
</div>