<div class="content-container">
    <div class="banner-container">
        <!-- show banner if no data is loaded -->
        <app-banner></app-banner>
    </div>
    <div class="grid-container">
        <div *ngFor="let movieInfo of populateItems(); let i = index" [ngStyle]="getCardStyle(i)">
            <!-- we use a card component to represent each movie in the list of movies. -->
            <app-movie-detail [movieInfo]="movieInfo" (detailsClickEvent)="detailsToggle(movieInfo, i, $event)" [detailOpened]="isCardOpened(movieInfo.imdbID)"></app-movie-detail>
        </div>
    </div>
    <div class="paginator">
        <!-- here we render the pagination -->
        <app-paginator></app-paginator>
    </div>
</div>