@import '../../../styles.scss';

.error-banner-container {
	text-align: center;
	border: 2.5px dotted $banner-error-border-color;
    color: $banner-error-color;
    background-color: $banner-error-background-color;
    margin-top: 50px;
}

.startup-banner-container {
	text-align: center;
	border: 2.5px dotted $app-border-color;
    color: $banner-normal-color;
    background-color: $banner-normal-background-color;
    margin-top: 50px;
}

.error-text {
    margin-left: 25rem;
    margin-right: 25rem;
    font-size: 15px;
}

.startup-text {
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 15px;
}


@media screen and (max-width: 575px) {
    .error-text {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .startup-text {
        margin-left: 3rem;
        margin-right: 3rem;
        font-size: 13px;
    }
}