.banner-container {
	text-align: center;
	border: 2.5px dotted rgb(255, 34, 34);
    color: red;
    background-color: rgb(255, 234, 234);
    margin-top: 50px;
}

p {
    margin-left: 25rem;
    margin-right: 25rem;
    font-size: 15px;
}

@media screen and (max-width: 575px) {
    p {
        margin-left: 7rem;
        margin-right: 7rem;
    }
}