@import '../../../styles.scss';

.search-label {
    font-size: 12px;
}

.search-button {
    margin-left: 10px;
}

.search-input {
    padding: 3.5px 3px;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    font-size: 11.5px;
}

@media screen and (max-width: 575px) {
    .search-label {
        display: none;
    }

    input {
        width: 8rem;
    }
}