/* You can add global styles to this file, and also import other style files */
// * {
//     margin: 0;
// }

// below are shared colors used throughout the application.
$primary-font-color: black;
$app-background-color: #ffff;
$app-link-color: #3b3bff;
$app-border-color: #ccc;
$app-border-color-dark: grey;
$app-label-color: #7e7d7d;
$app-scroll-shadow-color: #0000004d;
$app-scroll-background-color: #00000025;
$app-scroll-border-color: #5555556c;

$banner-error-color: red;
$banner-error-background-color: #ffeaea;
$banner-error-border-color: #ff2222;

$banner-normal-color: #252525;
$banner-normal-background-color: #ccccccb0;

$card-shadow-color: #b6b6b6;


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

.button {
    font-size: 13px;
    cursor: pointer;
    border-radius: 3px;
    border-color: transparent;

    &--primary {
        background-color:  #bee7ff;
		color:  #006f9e;

		&:hover {
			background-color: #94d8ff;
		    color: #043e6d;
            border-color:  transparent;
        }

        &:active, &.active {
		    background-color: #bfe1f0;
		    color: #006f9e;
            border-color: transparent;
        }
    }

    &--secondary {
        background-color:  #ffe7e7;
        color:  #d82a2a;

        &:hover {
            background-color: #fdd5d5;
            color: #e01c1c;
            border-color:  transparent;
        }
    }
}